button{
    margin-top:50px;
    margin-left:60px;
    width:100px;
    height:25px;
    font-size:8px;
}

#container{
    position:absolute;
    margin:60px 60px 60px 60px;
    width:960px;
    height:960px;
    overflow:hidden;
    background-color:blue;
}
.simple, .random, .null, .trail{
 position:relative;
 float:left;
 background-color:grey;
 border-width:1px;
 border-color:black;
 border-style:dashed;
}
.trail{
 background-color:blue;
}
